# File exclusion
.*

# Folder exclusion
.venv/*
work-in-progress
api_logs/*
logs/*
raw_data/*
processed_data/*

work_airflow/*
model_cosine-similarity/*
model_kmeans/*
scripts_mysql/*
scripts_preprocess/*
Utils/*


# Folder keep
!api_logs/.gitkeep
!logs/.gitkeep 
!raw_data/.gitkeep 
!processed_data/.gitkeep 

