# File exclusion
.*

# Folder exclusion
.venv/*
.deprecated_files/*
api_logs/*
logs/*
raw_data/*
processed_data/*
dags/__pycache__/*

# Folder keep
!api_logs/.gitkeep
!logs/.gitkeep 
!raw_data/.gitkeep 
!processed_data/.gitkeep 

# File keep
!.python-version
